*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, html {
    --primaryColor: linear-gradient(93.12deg, #1b9870 0.52%, #1de789 100%);
    --secondaryColor: linear-gradient(268.91deg, rgb(139, 214, 232) -2.14%,rgb(98, 137, 235)7 99.69%);
    --primaryBoxColor: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxColor: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #3f6ecc;
}

/*--------chatbox section--------*/
.chatbox_title {
    background: var(--secondaryColor);
    height: 500px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(5, 2, 2, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.chatbox_icon{
    margin-right: 10px;
}

.chatbox_header {
    background: var(--primaryColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px 30px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: var(--primaryBoxColor);
}

/*------------message area-----------*/
.chatbox{
    padding: 0 20px;
}

.chatbox_message {
    max-width: 85%;
    padding: 8px 12px;
    margin-top: 10px;
    background: #fffefe;    
}

.message_chatGPT{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.messages_user{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: var(--primary);
}

/*--------footer-----------*/
.chatbox_footer {
    display: flex;
    margin-top: 20px;
    padding: 20px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.chatbox_footer input {
    border: none;
    text-align: center;
}

.enter_button {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.chatbox__send--footer {
    color: rgb(255, 254, 254);
}

