*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, html {
    --primaryColor: linear-gradient(93.12deg, #1b9870 0.52%, #1de789 100%);
    --secondaryColor: linear-gradient(268.91deg, rgb(139, 214, 232) -2.14%,rgb(98, 137, 235)7 99.69%);
    --primaryBoxColor: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxColor: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #3f6ecc;
}

body {
    font-family: 'Source Code Pro';
    background: white;
}

.chat_title {
    background: var(--secondaryColor);
}