ol {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}

li {
    padding: .5em;
    width: 100%;
}


.description {
    margin-top: 0.5em;
    padding-left: 1.5em;
    color: #555;
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.11);
    overflow: hidden;

}

.description.visible {
    display: block;
    transition: max-height 0.3s ease-in-out;
}


.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding-inline: 10px;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%), #453F5C;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.11);
}


.title button {
    border: none;
    background: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #ffffff;
    font-weight: bolder;
}

.title-left {
    display: flex;
}

.title-element {
    padding: 10px;
}

.title-right {
    margin-left: auto;
}

.checkboxContainer {
    display: inline-block;
    position: relative;
}


.checkboxContainer input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkboxContainer input:checked {
    background-color: green;
}

/* Define the checkmark pseudo-element */
.checkboxContainer input[type="checkbox"]::before {
    content: "✔";
    /* Use a checkmark character */
    display: inline-block;
    font-size: 1em;
    /* Adjust the size of the checkmark */
    position: absolute;
    top: 48%;
    /* Vertically center the checkmark */
    left: 50%;
    /* Horizontally center the checkmark */
    transform: translate(-50%, -50%);
    /* Center it precisely */
    color: white;
    /* Color of the checkmark */
    pointer-events: none;
    /* Ensure the checkmark is not interactive */
}